body {
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    box-sizing: border-box;
}

.nav {
    display: flex;
    list-style-type: none;
    justify-content: flex-start;
    font-size: 16px;
    align-items: center;
}

.nav>li {
    margin-left: 25px;
}

.nav>li>a {
    text-decoration: none;
    color: #000000;
}

.logo {
    display: flex;
    align-items: center;
}

.logo_img {
    display: block;
    height: 65px;
    width: 159px;
    border-radius: 0px;
    margin-right: 20px;
}

.icon_cart {
    padding-right: 10px;
}

.cart>a {
    padding-left: 200px;
    font-size: 16px;
    color: black;
    text-decoration: none;
}

.social {
    list-style-type: none;
    display: flex;
}

.social>li {
    margin-left: 15px;
    background-color: #E1E1E1;
    width: 81px;
    height: 81px;
    border-radius: 50px;
}

.social>li>a {
    text-decoration: none;
}

.social_icon {
    position: absolute;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    box-sizing: border-box;
}

.footer_text {
    display: flex;
    align-items: center;
}

.bold {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
}